/node_modules
/public/hot
/public/storage
!/public/packages
/storage/*.key
/.history


/routes/web.php
composer.json

!/vendor
/vendor/*
!/vendor/aimeos

.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

/laradock