/* fonts */
@font-face {
	font-family: 'WindsorBold';
	src: url('media/windsor-bold-webfont.woff2')
}
@font-face {
	font-family: 'HelveticaRounded';
	src: url('media/HelveticaRounded.woff2');
}

html {
    height: 100vh;
    text-decoration: none;
    color: black;
}

body {
    font-family: 'HelveticaRounded';
    background-color: #fffff9;
    height: 100vh;
}

a {
    text-decoration: none;
    color: black;
    transition: 0.2s;
}
a:hover {
    text-decoration: none;
    color: grey;
    transition: 0.2s;
}

h1, h2, h3, .navbar-brand {
    font-family: 'WindsorBold';
    color: black;
}

/* NAVIGATION */
.navbar-default {
    background-color: white;
    border-color: white;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: none;
}
.navbar {
    background-color: black;
    margin-bottom: 10px;
    height: 60px;
  }
  .navbar-default .navbar-brand {
    color: #fffff9;
    margin-left: 20px;
    font-size: 2.8rem;
  }
  .navbar-brand:hover {
    color: #ffffa6;
  }
  .navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
      color: rgb(206, 206, 206);
  }
  .navbar .dropdown-toggle {
    padding: 0;
  }
  .nav-item {
    font-size: 1.2rem;
  }
  .nav-item a {
    color: #fffff9;
  }
  .nav-item a:hover {
    text-decoration: none;
    color: #FFF;
  }
    /* Cart */
    .basket-mini-product .basket {
        transition: opacity 2s;
        /* width: 100%; */
    }
    /* 300px wide to fit at least smallest phone */
    .basket-mini {
        background-color: black;
        width: 300px;
        margin: auto;
    }
    td.big {
        width: 200px;
    }
    .aimeos a:link:not(.btn), .aimeos a:visited:not(.btn) {
        color: black;
        text-decoration: none;
    }
    .aimeos .basket-mini a {
        color:black;
        min-width: 100px;
    }
/* FOOTER */
.footer {
    position: relative;
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color: transparent;
    text-align: center;
}

/* BUTTONS  */
.catalog-detail-basket .addbasket .input-group {
    top: 20px;
}
.aimeos .input-group .btn {
    width: 220px;
}
.aimeos .btn-primary, .aimeos .btn-primary:active {
    background-color: black;
    border: 1px solid transparent;
    color: #fffff9;
}
.aimeos .addbasket input {
    border: solid 1px transparent;
    background-color: #fffff9;
    color: black;
}
.input-group:hover > .aimeos .btn-primary {
    background-color: #fffff9;
    border: solid 1px #fffff9;
    color: black;
}
    /* Hover */
    .input-group:hover > input {
        color: #fffff9;
        background-color: #000;
    }
/* button color fix */
.aimeos .btn-primary:hover {
    background-color: #fffff9;
    border: solid 1px #fffff9;
    color: black;
}
/* Back Button */
.btn-back {
    border: 1px solid transparent;
    color: black;
}
.btn-back:hover {
    color: white;
    background-color: black;
}


/* color coded stock level removed */
.aimeos .product .stock-list {
    display: none;
}

/* hide list/grid selectors */
.catalog-list-type {
    display:none;
}

/* CATALOG LIST */
.catalog-list-items {
    border: 3px solid black;
}
    @media (min-width: 768px) {
    .catalog-list-items {
        max-width: 70vw;
        margin: auto;
    }
}

    /* Catalog List product item */
    .catalog-list .product {
        border-bottom: none;
        background-color: #fffff9;
    }
    .catalog-list a .media-item, .catalog-list a .media-list {
        background-color: #fffff9;
    }
    .catalog-detail-basic h1.name,
    .catalog-detail-basket .service-intro {
        color: black;
    }

/* Detail view */
.top-margin-10 {
    color: red;
    margin-top: 15px;
}

.catalog-detail-image .image-single {
    height: auto;
    float:left;
    background-color: #fffff9;
    max-width: 100%;
}

.catalog-detail-image .image-single .item {
    max-width: 100%;
    background-color: #fffff9;
}
.media-item {
    margin-top: 10px;
}
.catalog-detail-image .item {
    background-position: top;
}

/* Image resizing for screens */
@media (min-width: 320px) {
    .catalog-detail-image .image-single {
        width: 100%;
    }
    .catalog-detail-image .image-single .item {
        height: 400px;
        width: 100%;
    }
}
@media (min-width: 375px) {
    .catalog-detail-image .image-single {
        width: 342px;
    }
    .catalog-detail-image .image-single .item {
        height: 420px;
        width: 312px;
    }
}
@media (min-width: 425px) {
    .catalog-detail-image .image-single {
        width: 370px;
    }
    .catalog-detail-image .image-single .item {
        height: 466px;
        width: 340px;
        float: right;   /* Making sure the image does not go to center or left*/
    }
}
@media (min-width: 768px) {
    .catalog-detail-image .image-single {
        float: right;   /* Making sure the image does not go to center or left*/
    }
}
@media (min-width: 1024px) {
    .catalog-detail-image .image-single {
        width: 484px;
    }
    .catalog-detail-image .image-single .item {
        height: 684px;
        width: 498px;
    }
}
@media (min-width: 1440px) {
    .catalog-detail-image .image-single {
        width: 690px;
    }
    .catalog-detail-image .image-single .item {
        height: 706px;
        width: 506px;
    }
    .resize-detail-description {
        width: 520px;
        height: 1066px;
    }
}
@media (min-width: 2560px) {
    .catalog-detail-image .image-single {
        width: 1242px;
    }
    .catalog-detail-image .image-single .item {
        height: 1780px;
        width: 1214px;
    }
}


    /* Checkout Description side */
    .aimeos .input-group {
        width: auto;
    }


/* Product corner edges (catalog list) */
/* .media-list {position:relative;}
.media-list:before, .media-list:after, .media-list>:nth-child(2):before, .media-list>:nth-child(2):after {
    position:absolute;
    width:15px; height: 15px;
    border-color:black; 
    border-style:solid;
    content: ' ';
}
.media-list:before {top:0;left:0;border-width: 1px 0 0 1px; z-index: 1;} 
.media-list:after {top:0;right:0;border-width: 1px 1px 0 0}
.media-list>:nth-child(2):before {bottom:0;right:0;border-width: 0 1px 1px 0}
.media-list>:nth-child(2):after {bottom:0;left:0;border-width: 0 0 1px 1px} */

/* (detail view) */
.image-single {
    position:relative;
    padding: 15px;
}
.image-single:before, .image-single:after, .image-single>:first-child:before, .image-single>:first-child:after {
    position:absolute;
    width:15px; height: 15px;
    border-color:black; /* or whatever colour */
    border-style:solid; /* or whatever style */
    content: ' ';
}
.image-single:before {top:0;left:0;border-width: 2px 0 0 2px} 
.image-single:after {top:0;right:0;border-width: 2px 2px 0 0}
.image-single>:first-child:before {bottom:0;right:0;border-width: 0 2px 2px 0}
.image-single>:first-child:after {bottom:0;left:0;border-width: 0 0 2px 2px}




/* ANIMATIONS */

    /* Cart Animation */
    .toggle-close ~ .basket {
        opacity: 0!important;
        margin-top: -400px!important;
        transition: 1.2s!important;
        display: table!important;
        z-index: -1000!important;
    }
    .toggle-open ~ .basket {
        opacity: 1!important;
        margin-top: 0!important;
        transition: 1.2s!important;
        display: table!important;
        z-index: 1!important;

    }